<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']"
        class="btn btn-outline-primary" 
        type="button">
      Nuevo héroe
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead  class="thead-inverse">
          <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Casa</td>
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ heroes[k].nombre}}</td>
            <td>{{ heroes[k].casa}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>